@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

.outerDiv {
   margin: 10px 10px;
}

.hrStyle {
    margin-left: -72px;
    margin-right: -50px;
}

.afterQuestionDiv {
    clear: both;
}

.innerDiv {
    margin: 30px 30px;
}

.title {
    margin: 10px 0;
    background-color: lightgray;
    padding: 10px;
}

.addQuestionButtonDiv {
    float: right;
    margin: 10px 10px;
}

.addQuestionButton {
    padding: 15px;
    border-radius: 20px;
    background-color: grey;
    color: white;
}

.parentQuestionDiv {
    margin: 10px 10px;
}

.addQuestionInnerButton {
    float: right;
    border-radius: 10px;
    background-color: grey;
    color: white;
}

.questions {
    font-family: 'Nunito Sans', cursive;
}

body {
    position: relative;
    padding-bottom: 70px;
}

.deleteQuestionButtonDiv {
    float: right;
    /* position: absolute; */
    /* right: 9px; */
    width: 28%;
    text-align: right;
    
    margin: 10px 0;
}

.deleteQuestionButtonDiv button {
    background: transparent;
    border: 0;
}

.showQuestion {
    float: left;
    width: 70%;
    margin: 10px 0;
}

.showVariation {
    width: 65%;
}

.header {
    background: #ddd;
    border-bottom: 1px solid #aaa;
    position: fixed; 
    width: 100%; 
    top: 0; 
    box-shadow: 0 1px 10px 0 #000;
}

.headerInnerDiv {
    padding: 15px;
}

.headerImage {
    float: left; 
    margin-right: 10px;
    margin-top: -10px;
}

.headerAdmin {
    display: inline-block;
    margin: 0 ;
}

.headerName {
    float: right; 
    margin: 0;
}

.innerFaqHeader {
    padding: 70px 30px 15px;
}

.questionsLabelDiv {
    background-color: lightGrey;
    color: white;
    padding: 10px;
    margin-bottom: '10px';
}

.questionsHeaderLabel {
    margin: 0px 75px;
}

.parentDiv {
    margin: 30px 30px 0 75px;
}

.listStyleType {
    list-style-type: none;
}

.deleteVariationButton {
    outline: none;
    border: none;
    vertical-align: middle;
    background: transparent;
}

.inputVariationDiv {
    clear: both
}

.addVariationInputBox {
    margin-left: 35px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: transparent;
    width: 75%;
    max-width: 75%;
    padding: 4px; 
    font-size: 24px;
}

.innerAddVariationButton {
    margin-left: 50px;
    padding: 15px;
    border-radius: 20px;
    background-color: grey;
    color: white;
}

.addNewQuestionButton {
    right: 10px;
    bottom: 10px;
    position: absolute;
    padding: 15px;
    border-radius: 20px;
    background-color: grey;
    color: white;
}

.addNewQuestionImage {
    float: left;
}

.addNewQuestionSpan {
   vertical-align: middle;
}

.innerAddQuestionInput {
    outline: 0;
    border-width: 0 0 2px;
    border-color: grey;
    width: 75%;
    max-width: 75%; 
    padding: 4px;
    font-size: 24px;
}

.innerAddQuestionButton {
    width: 100px;
    max-width: 100px;
    margin-left: 50px;
    padding: 15px;
    border-radius: 20px;
    background-color: grey;
    color: white;
}

@media only screen and (max-width: 700px) {
    
     .innerAddVariationButton {
     margin: 15px;
     padding: 5px;
     border-radius: 20px;
     background-color: grey;
     color: white;
     }
 
     .addVariationInputBox {
         margin: 10px;
         outline: 0;
         border-width: 0 0 2px;
         border-color: grey;
         padding: 4px; 
         font-size: 14px;
     }
 
     .addQuestionButtonDiv {
         float: right;
         margin: 15px;
     }
 
     .addQuestionButton {    
         padding: 10px;
         border-radius: 20px;
         background-color: grey;
         color: white;
     }
 
     .addQuestionInnerButton {
         float: right;
         border-radius: 10px;
         background-color: grey;
         color: white;
         margin: 15px;
     }
 
     .innerAddQuestionButton {
         width: 75px;
         max-width: 100px;
         margin: 15px;
         padding: 10px;
         border-radius: 20px;
         background-color: grey;
         color: white;
     }
 
     .innerAddQuestionInput {
         outline: 0;
         border-width: 0 0 2px;
         border-color: grey;
         width: 75%;
         max-width: 75%; 
         padding: 4px;
         font-size: 24px;
     }

     .deleteVariationButton {
        outline: none;
        border: none;
        vertical-align: middle;
        background: transparent;
    }
    
    .addNewQuestionButton {
        right: 10px;
        bottom: 10px;
        position: absolute;
        padding: 10px;
        border-radius: 20px;
        background-color: grey;
        color: white;
    }

    .parentDiv {
        margin: 30px 20px 0px 50px;
    }

    .innerFaqHeader {
        padding: 70px 30px 15px;
    }
    
    .questionsLabelDiv {
        background-color: lightGrey;
        color: white;
        padding: 10px;
        margin: 15px;
    }
 
    .questionsHeaderLabel {
        margin: 0px 30px;
    }

    .showQuestion {
        float: left;
        width: 70%;
        margin: 10px 0;
    }

    .variationDiv {
        clear: both;
    }
 }